*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
}
header{
    width: 1440px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.navbar{
    display: flex;
    width: 1140px;
    align-items: center;
    list-style: none;
    justify-content: space-between;
}
.banner{
    display: flex;
    margin-top: 167px;
    
}
.banner-style{
    margin-top: 220px;
    margin-left: 20px;
    width: 570px;
    height: 299px;
}
.our-plants{
    text-align: center;
    font-weight: bold;
}
.flower-cart{
    margin-top: 50px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.trust{
    margin-top: 100px;
    margin: auto;
    padding: 10px;
    display: flex;
}
.trust-add{
    margin-top: 100px;
    display: flex;
    width: 1140px;
    
    
}
.news-img{
    margin-left: 80px;
    width: 554px;
    height: 601px;
}
.trust-img{
    margin-block-start: 10px;
    padding-top: 10px;
}
.list-item{
    width: auto;
    
    gap: 20px;
    margin: auto;
    margin-right: 120px;
    margin-bottom: 50px;
}
.latest{
    text-align: center;
}
.three-pic{
    width: 1140px;
    display: flex;
    margin:50px;
    padding: 20px;
    
}
.two-pic{
    display: block;
    width: 367px;
    height: 423px;
    gap: 10px;
    padding: 10px;
    margin-left: 40px;
}
.first{
    width: 367px;
    height: 201px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;

}
.middle{
    width: 367px;
    height: 201px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.last{
    background-image: url('B12A02-Responsive-Flowers/assets/deal-zabo.png');
    width: 753px;
    height: 423px;
    margin-left: 380px;
    margin-top: -423px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: end;
}
footer{
    width: 1440px;
    height: 328px;
    display: flex;
    margin: auto;
    list-style: none;
    gap: auto;
}
.footer-style{
    width: 1120px;
    height: 248px;
    display: flex;
    
    align-items: center;
    justify-content: center;
    
    margin:10px;
}
.background{
    background-image: url('B12A02-Responsive-Flowers/assets/news-letter-bg.png');
    width: 100%;
    height: 100vh;

    background-size: cover;
}
.background-style{
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    
    align-items: center;
    margin: 100px auto;
    
}
footer li{
    gap: 20px;
}
.simple{
    width: 359px;
    height: 217px;
    margin: auto;
}
.simple-list{
    width: 85px;
    height: 248px;
    list-style: none;
    gap: 20px;
    align-items: center;
}
.simple-list li{
    grid-area: 1 / 1 / 2 / 2;
    
}
.extra-list{
    width: 128px;
    height: 248px;
}
.icon{
    display: flex;
    width: 216px;
    gap: 10px;
}